################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/test
/MyAnimeList.APITests
/MyAnimeList.API/Properties
